body {
  
   
    background-image: url(https://img.freepik.com/fotos-premium/colheitadeira-colhendo-campo-de-trigo-em-uma-cidade-futurista_10567-3770.jpg?w=826);
}

.a{ font-size: large; }

.aaa{ width: 300px;    }
.ab{width: 500px;}
.abb{font-size: large;}